.App {
  text-align: center;
  /* display: flex; */
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 20px;
}
article.card{
  background-color: #999;
  color: aliceblue;
  border-radius: 5px;
  padding: 20px;
}
 a:not(article.card a){
  color:#18C7C9;
}
p{
  color: aliceblue;
}
body{
  background-color: #333;
}