.App {
  /* text-align: center; */
  /* display: flex; */
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 20px;
}
header, footer{
  margin: 20px;
  color:aliceblue;
}
article.card{
  /* background-color: #999; */
  background: linear-gradient(90deg, rgba(24,199,201, 100%) 0%, rgba(16,139,140, 100%) 100%);
  color: aliceblue;
  border-radius: 5px;
  padding: 20px;
}
article.card h2, footer p{
  text-align: center;
}
 a:not(article.card a){
  color:#18C7C9;
}
p{
  color: aliceblue;
}
body{
  background: #333;
}